:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayishblue: hsl(217, 19%, 35%);
  --Very-dark-blackishblue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 81.25%;
  --semibold: 600;
  --regular: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Light-grayish-blue);
}

.comment-container {
  display: grid;
  margin: 5.4rem 1.85rem;
  gap: 1.85rem;
}

article {
  border-radius: 0.5rem;
  padding: 1.85rem;
  box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.25);
}

.comment-box-violet {
  background-color: var(--Moderate-violet);
  background-image: url(/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: right 13% top;
}
.comment-box-gray {
  background-color: var(--Very-dark-grayishblue);
}
.comment-box-dark {
  background-color: var(--Very-dark-blackishblue);
}

.comment-box-avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.85rem;
}
.comment-box-avatar-img {
  border-radius: 50%;
  width: 1.85rem;
  height: auto;
  justify-self: center;
  border: 1px solid var(--White);
}
.comment-box-avatar-info {
  margin-left: 1rem;
  height: auto;
}
.comment-box-violet .comment-box-avatar-info-name, .comment-box-gray .comment-box-avatar-info-name, .comment-box-dark .comment-box-avatar-info-name {
  color: var(--White);
  font-size: 0.9rem;
  font-weight: var(--semibold);
}
.comment-box-violet .comment-box-avatar-info-status, .comment-box-gray .comment-box-avatar-info-status, .comment-box-dark .comment-box-avatar-info-status {
  color: var(--White);
  opacity: 50%;
  font-size: 0.8rem;
  font-weight: var(--regular);
}
.comment-box-violet .comment-box-text, .comment-box-gray .comment-box-text, .comment-box-dark .comment-box-text {
  color: var(--Light-grayish-blue);
}
.comment-box-violet .comment-box-text-title, .comment-box-gray .comment-box-text-title, .comment-box-dark .comment-box-text-title {
  margin-bottom: 1.85rem;
}
.comment-box-violet .comment-box-text-comment, .comment-box-gray .comment-box-text-comment, .comment-box-dark .comment-box-text-comment {
  opacity: 70%;
  margin-bottom: 1.85rem;
  line-height: 1.5rem;
}
.comment-box-white1, .comment-box-white2 {
  background-color: var(--White);
}
.comment-box-white1 .comment-box-avatar-info-name, .comment-box-white2 .comment-box-avatar-info-name {
  color: var(--Very-dark-blackishblue);
  font-size: 0.9rem;
  font-weight: var(--semibold);
}
.comment-box-white1 .comment-box-avatar-info-status, .comment-box-white2 .comment-box-avatar-info-status {
  color: var(--Very-dark-blackishblue);
  opacity: 50%;
  font-size: 0.8rem;
  font-weight: var(--regular);
}
.comment-box-white1 .comment-box-text, .comment-box-white2 .comment-box-text {
  color: var(--Very-dark-blackishblue);
}
.comment-box-white1 .comment-box-text-title, .comment-box-white2 .comment-box-text-title {
  margin-bottom: 1.85rem;
}
.comment-box-white1 .comment-box-text-comment, .comment-box-white2 .comment-box-text-comment {
  opacity: 70%;
  margin-bottom: 1.85rem;
  line-height: 1.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution .attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media screen and (min-width: 1024px) {
  .comment-container {
    grid-template-columns: repeat(4, 1fr);
    width: auto;
    margin: 8.69rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .comment-box-violet {
    grid-column: 1/3;
  }
  .comment-box-white1 {
    grid-column: 1/2;
  }
  .comment-box-white2 {
    grid-column: 4/5;
    grid-row: 1/3;
  }
  .comment-box-dark {
    grid-column: 2/4;
  }
}/*# sourceMappingURL=style.css.map */