
.home{
  background-image: url('../src/assets/home/background-home-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

}

header {
  padding: 24px 0 24px 24px;
}