:root{
  --Dark-blue:#0b0d17;
  --Ligth-blue:#D0D6F9;
  font-size: 16px;
}



  
  #root{
  /* Colors */
  --Dark-blue:#0b0d17;
  --Ligth-blue:#D0D6F9;
  --White:#ffffff;

  /* Typography */
  font-size: 16px;
} 
*{
  margin: 0;
  padding: 0;
 }